
.icon{
	margin-top: 50px;
	margin-right: 50px;
}

.menu{
	margin-top: 50px;
	margin-left: 70px;
	font-family: sans-serif;
	color: white;
	border: 3px;
}

.menu3{
	justify-content: left;
}
.syariah{
	margin-bottom: 30px;
}

.border{
	border: 0px;
	border-radius: 21px;
}
.pelajari{
	margin-left: 16px;
	margin-right: 16px;
}
.text-block {
    position: absolute;
	right: 9%;
	bottom: 35%;
    background-color: #EA1C1F;
    color: white;
	font-size: 12px;
	
	border: 0px;
	border-radius: 15px;
}

.butcol{
	background-color: white;
	border: 0px;
	border-radius: 21px;
	margin-left: 3px;
}
.place{
	font-size: 14px;
}
.ukuransear{
	
    width:100%;
    padding: 8px 12px;
    border:2px solid #ddd;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.butcoll{padding: 8px 12px;
    border:2px solid #ddd;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
box-sizing: border-box;}
	