.container > div{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    color: #fff;
}

html, body{
}

.container > div:nth-child(1n){
    background-color: none;
}

.container > div:nth-child(2n){
    background-color: none;
}

.container > div:nth-child(3n){
    background-color: none;
}
.container > div:nth-child(4n){
    background-color: none;
}

.container > div:nth-child(5n){
    background-color: #D5D5D5;
}
.container > div:nth-child(6n){
    background-color: none;
}
.container > div:nth-child(7n){
    background-color: none;
}
.container > div:nth-child(8n){
    background-color: #D5D5D5;
}
.container > div:nth-child(9n){
    background-color: #ED1B24;
}
.container > div:nth-child(10n){
    background-color: #D81A26;
}